<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.hydrogen.hospitalapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HospitalApp"
        android:usesCleartextTraffic="true"
        tools:replace="android:theme"
        tools:targetApi="31">
        <activity
            android:name=".About"
            android:exported="false" />
        <activity
            android:name=".SingleReportView"
            android:exported="false" />
        <activity
            android:name=".Activity.BloodDonnerForm"
            android:exported="false" />
        <activity
            android:name=".Activity.SnakeBiteContact"
            android:exported="false" />
        <activity
            android:name=".Activity.NearbyHospitals"
            android:exported="false" />
        <activity
            android:name=".Activity.EnrolledDepartmentDetails"
            android:exported="false" />
        <activity
            android:name=".Activity.ImportantContacts"
            android:exported="false" />
        <activity
            android:name=".Activity.EnrollDepartmentList"
            android:exported="false" />
        <activity
            android:name=".Activity.EnrollPatientHistory"
            android:exported="false" />
        <activity
            android:name=".Activity.DepartmentEnrollForm"
            android:exported="false" />
        <activity
            android:name=".Activity.LocateDepartment"
            android:exported="false" />
        <activity
            android:name=".Activity.SearchForField"
            android:exported="false" />
        <activity
            android:name=".Activity.UserDetailsForm"
            android:exported="false" />
        <activity
            android:name=".Activity.PatientLogin"
            android:exported="false" />
        <activity
            android:name=".Activity.PatientDashboard"
            android:exported="false" />
        <activity
            android:name=".Activity.PaymentForEnroll"
            android:exported="false" />
        <activity
            android:name=".Activity.EnrollPreview"
            android:exported="false" />
        <activity
            android:name=".Activity.HospitalEnrollForm"
            android:exported="false" />
        <activity
            android:name=".Activity.BloodDonnerList"
            android:exported="true" />
        <activity
            android:name=".Activity.Navigate"
            android:exported="true" />
        <activity
            android:name=".Activity.ValidationPhoneOTP"
            android:exported="true" />
        <activity
            android:name=".Activity.BloodDonerSignUp"
            android:exported="true" />
        <activity
            android:name=".Activity.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>